:root {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #090909;
  background-color: #040716;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.app-container {
  display: flex;
  gap: 80px;
  width: 100%;
}

/* AboutMe start */

  .about-container {
    text-align: left;
  }

  /* .about-container .description {
    color: #eee7f0;
  } */

/* AboutMe end */

/* TechStack start*/

/* .techstack-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-content: center;
} */


.techstack-container {
  position: relative;
  padding: 10px;
  height: var(--squareWidth);
  overflow: hidden;
  background-color: white;
  mask-image: linear-gradient(to right,
    rgba(0,0,0,0), 
    rgba(0,0,0,1) 20%,
    rgba(0,0,0,1) 80%,
    rgba(0,0,0,0)
    );
  --squareWidth: 80px;
  --squareAmount: 8;
}

.techstack-container:hover {
  animation-play-state: paused;
}


.technology-square {
  position: absolute;
  left: max(calc(var(--squareAmount)*var(--squareWidth)), 100%);
  width: var(--squareWidth);
  aspect-ratio: 1/1;
  animation-name: scrollLeft;
  animation-duration: var(--scrollDuration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  --scrollDuration: 30s;
}

.technology-img {
  display: block;
  width: 100%;
  height: 100%;
  /* width: 80px;
  height: 80px; */
}

@keyframes scrollLeft {
  100% {
    left: calc(var(--squareWidth)*-1);
  }
}

.square-1 {
  animation-delay: calc(var(--scrollDuration) / var(--squareAmount) * (var(--squareAmount) - 1) * -1);
}

.square-2 {
  animation-delay: calc(var(--scrollDuration) / var(--squareAmount) * (var(--squareAmount) - 2) * -1);
}

.square-3 {
  animation-delay: calc(var(--scrollDuration) / var(--squareAmount) * (var(--squareAmount) - 3) * -1);
}

.square-4 {
  animation-delay: calc(var(--scrollDuration) / var(--squareAmount) * (var(--squareAmount) - 4) * -1);
}

.square-5 {
  animation-delay: calc(var(--scrollDuration) / var(--squareAmount) * (var(--squareAmount) - 5) * -1);
}

.square-6 {
  animation-delay: calc(var(--scrollDuration) / var(--squareAmount) * (var(--squareAmount) - 6) * -1);
}

.square-7 {
  animation-delay: calc(var(--scrollDuration) / var(--squareAmount) * (var(--squareAmount) - 7) * -1);
}

.square-8 {
  animation-delay: calc(var(--scrollDuration) / var(--squareAmount) * (var(--squareAmount) - 8) * -1);
}




/* .technology-img {
  width: 50%;
}

.technology-square {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10%;
  width: 60px;
  aspect-ratio: 1 / 1;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  background-color: #f1f5f9; 
  transition: background-color 1s ease, color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.technology-square p {
  font-weight: bold;
  font-size: 0.75rem;
  margin: 0;
  color: #151312;
  transition: color 0.2s ease;
}

.technology-square:hover {
  background-color: #ffffffd3; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.technology-square img {
  max-width: 100%;
  height: auto;
  transition: none;
} */
/* TechStack end */


/* Profile Start*/
.profile-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  background-color: #FFFFFF;
  border-radius: 16px;

  width: 344px;
  /* height: 640px; */

  padding: 30px;
}

.profile-card-container > img {
  width: 240px;
  border-radius: 16px;
}

.profile-card-container .name {
  font-size: 2.25rem;
  font-weight: bold;
  text-transform: uppercase;
}

.profile-card-container .name, .profile-card-container p {
  margin: 0;
}

.profile-card-container .profile-card-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #151312;
}

.profile-card-socials {
  display: flex;
  gap: 16px;
}

.profile-card-socials img {
  width: 32px;
}

.btn-grad {
background-image: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%)}
.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  /* text-transform: uppercase; */
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  /* box-shadow: 0 0 20px #eee; */
  border-radius: 16px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  border: none;
}
/* Profile End*/