* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--blackBackground);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --darkBlueBackground: #040716;
  --blackBackground: #090909;
  --highlightColor: #1341d0;
  --buttonDark: #1a1a1a;
}

a {
  all: unset;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--buttonDark);
  cursor: pointer;
  transition: border-color 0.3s;
  position: relative;
}
button::after {
  content: '';
  border-radius: 8px;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  position: absolute;
  top: -2.5px;
  left: -2.5px;
  z-index: -1;
  filter: blur(7px);

  transition: background 0.3s linear;
}


button:hover::after {
  
  background-color: var(--highlightColor);
 
  filter: blur(7px);
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
  z-index: -1;
}

.line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.line::after {
  content: '';
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  animation: drop 7s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1) {
  margin-left: -50%;
}

.line:nth-child(1)::after {
  animation-delay: 2s;
}

.line:nth-child(3) {
  margin-left: -25%;
}

.line:nth-child(3)::after {
  animation-delay: 2.5s;
}

.line:nth-child(4) {
  margin-left: 25%;
}

.line:nth-child(4)::after {
  animation-delay: 2.5s;
}

.line:nth-child(5) {
  margin-left: 50%;
}

.line:nth-child(5)::after {
  animation-delay: 2.5s;
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}


.about-container h1 {
  font-size: 5.2em;
  line-height: 1.1;
  margin: 0;
  text-transform: uppercase;
}

.about-h1 {
  /* color: var(--darkBlueBackground); */
  color: #3e3b3f;
}

.app-container {
  display: flex;
  gap: 80px;
}

/* AboutMe start */

  .about-container {
    text-align: left;
  }

/* AboutMe end */

/* TechStack start */

.techstack-container {
  position: relative;
  padding: 10px;
  height: calc(var(--squareWidth) + 20px);
  overflow: hidden;
  /* background-color: white; */
  mask-image: linear-gradient(to right,
    rgba(0,0,0,0), 
    rgba(0,0,0,1) 20%,
    rgba(0,0,0,1) 80%,
    rgba(0,0,0,0)
    );
  --squareWidth: 60px;
  --squareAmount: 8;
  --scrollDuration: 10s;
}

.technology-square {
  position: absolute;
  left: max(calc(var(--squareAmount)*var(--squareWidth)), 100%);
  width: var(--squareWidth);
  aspect-ratio: 1/1;
  animation-name: scrollLeft;
  animation-duration: var(--scrollDuration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 10;
}

.techstack-container:hover .technology-square {
  animation-play-state: paused;
}

.technology-img {
  display: block;
  width: 100%;
  height: 100%;
}

.invert-color {
  filter: invert(1);
}

@keyframes scrollLeft {
  100% {
    left: calc(var(--squareWidth)*-1);
  }
  
}

.technology-square:nth-child(1) {
  animation-delay: calc(var(--scrollDuration) / var(--squareAmount) * (var(--squareAmount) - 1) * -1);
}

.technology-square:nth-child(2) {
  animation-delay: calc(var(--scrollDuration) / var(--squareAmount) * (var(--squareAmount) - 2) * -1);
}

.technology-square:nth-child(3) {
  animation-delay: calc(var(--scrollDuration) / var(--squareAmount) * (var(--squareAmount) - 3) * -1);
}

.technology-square:nth-child(4) {
  animation-delay: calc(var(--scrollDuration) / var(--squareAmount) * (var(--squareAmount) - 4) * -1);
}

.technology-square:nth-child(5) {
  animation-delay: calc(var(--scrollDuration) / var(--squareAmount) * (var(--squareAmount) - 5) * -1);
}

.technology-square:nth-child(6) {
  animation-delay: calc(var(--scrollDuration) / var(--squareAmount) * (var(--squareAmount) - 6) * -1);
}

.technology-square:nth-child(7) {
  animation-delay: calc(var(--scrollDuration) / var(--squareAmount) * (var(--squareAmount) - 7) * -1);
}

.technology-square:nth-child(8) {
  animation-delay: calc(var(--scrollDuration) / var(--squareAmount) * (var(--squareAmount) - 8) * -1);
}

/* TechStack end */


/* Profile Start*/

.profile-card-container {
  position: sticky;
  top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  background-color: #FFFFFF;
  border-radius: 16px;

  width: 344px;
  height: fit-content;
  padding: 30px;
}


.profile-card-container > img {
  width: 240px;
  border-radius: 16px;
}

.profile-card-container .name {
  font-size: 2.25rem;
  font-weight: bold;
  text-transform: uppercase;
}

.profile-card-container .name, .profile-card-container p {
  margin: 0;
}

.profile-card-container .profile-card-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #151312;
}

.profile-card-socials {
  display: flex;
  gap: 16px;
}

.profile-card-socials img {
  width: 32px;
}

.btn-grad {
background-image: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%)}
.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  /* text-transform: uppercase; */
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  /* box-shadow: 0 0 20px #eee; */
  border-radius: 16px;
  display: block;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  border: none;
}
/* Profile End*/


/* Projects Start */

h2 {
  text-transform: uppercase;
  text-align: left;
  font-size: 3rem;
  margin-bottom: 16px;
  position: relative;
}

h2::after {
  content: '';
  width: 15px;
  height: 15px;
  background-color: var(--highlightColor);
  position: absolute;
  bottom: 20px;
  margin-left: 6px;
  border-radius: 50%;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.project-container {
  position: relative;
  width: 1fr;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  animation-name: appear;
  /* animation-duration: 3s; */
  animation-timeline: view();
  animation-timing-function: ease-out;
  animation-range: 0% cover 40%;
}

.project-img {
  width: 100%;
}

.project-container, .project-img, .project-text {
  border-radius: 5%;
}

.project-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  color: #ffffff;
  /* font-weight: bold; */
  display: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;

  background: rgba(83, 91, 242, 0.9);

  transform: translateY(200px);
  opacity: 0;
  transition: all 0.2s ease;
}

.project-container p {
  margin: 0;
}

.project-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.project-container:hover .project-text {
  display: flex;
  transform: translateY(0);
  opacity: 1;
}

.projects-btn {
  margin-top: 16px;
}

@keyframes appear {
  from {
    scale: 0.5;
    opacity: 0;
  } to {
    scale: 1;
    opacity: 1;
  }
}

/* Projects End */


/* Certifications Start */

.certifications-container {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.certification {
  display: flex;
  justify-content: space-between;
  gap: 15px;

  background-color: #252525;
  border-radius: 8px;

  padding: 10px 20px;
  width: 1fr;

  font-size: 1rem;
  /* font-weight: bold; */
  position: relative;
  text-align: left;
  cursor: pointer;
}

.certification::after {
  --certiicationOffset: 10px;
  content: '';
  position: absolute;

  top: calc(var(--certiicationOffset)/-2);
  left: calc(var(--certiicationOffset)/-2);
  width: calc(100% + var(--certiicationOffset));
  height: calc(100% + var(--certiicationOffset));

  border-radius: 8px;
  
  transition: background 0.3s linear;
  z-index: -1;
  filter: blur(5px)
}

.certification:hover::after {
  background: var(--highlightColor);
  filter: blur(5px);
}

.certification-title span {
  font-weight: bold;
}
.certification-date {
  color: var(--highlightColor);
}

/* Certifications End */